* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family:'Ubuntu', sans-serif;;
}

body {
    background-color: rgb(10, 16, 68);
}

header h1 {
    color: #fff;
    font: 60px;
    text-align: center;   
    margin-top: 10px;
}

.select {
    background-color: #fff;
    border: 2px solid black;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 50px;
    width: 1200px;
    margin: 20px auto 0;
    border-radius: 8px;
}

.select span {
    font-size: 25px;
}

.select select {
    padding: 5px;
    outline: none;
    font: 10px;
    border-radius: 8px;
}
.select option {
    font-family: 'Ubuntu', sans-serif;
}

.dad {
    display: flex;
    
    background-color: #fff;
    border: 2px solid black;
    margin: 10px auto ;
    width: 600px;
    height: 600px;

    
}

.son {
    display: inline-block;
    
    background-color: rgb(10, 16, 68);
    border: 2px solid black;
    box-shadow: 5px 5px 5px rgb(65, 65, 65);

    width: 150px;
    height: 150px;

    text-align: center;
}

.son span {
    display: block;
    color: #fff;
    font-size: 25px;
    padding: 25px;
    margin-top: 20px;
}



